.flash-box
  .sidebar
    .side-header
      %p.side-header__user-name
        = current_user.name
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to new_group_path do 
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.user-menu__new-group
          = link_to edit_user_path(current_user) do 
            = fa_icon 'cog', class: 'icon'
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。

  .chat-main
    .main-header
      .current-group{data: { group_id: ""}}
        %h2.current-group__name
          hoge
        %ul.member-list
          Member：
          %li1.member-list__member
            kkk
          %li.member-list__member
            hogehoge
          %li.member-list__member
            hoge
      = link_to root_path do
        .main-header__edit-btn
          Edit
    .messages
      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge


    .bottom-form
      %form.new-message{id: "",enctype: "", action: "", enctype: "", accept: {charset: ""}, method: ""}
        .input-box
          %input#message_content.input-box__text{name: "", placeholder: "type a message", type: "text"}
          %label.image-label{for: ""}
            %i.fa.fa-image
            %input#message_image.image-label__input{name: "", type: ""}
        %input.new-message__submit-btn{name: "commit", type: "submit", value: "Send"}
        
