.flash-box
.wrapper
  .sidebar
    .side-header
      %p.side-header__user-name
        hoge
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to root_path do 
            %i.fa.fa-edit
        %li.user-menu__new-group
          = link_to root_path do 
            %i.fa.fa-cog
    .groups
      = link_to root_path do 
        .group
          %p.group__group-name
            hoge
          %p.group__latest-message 
            hogehoge
      = link_to root_path do 
        .group
          %p.group__group-name
            hoge
          %p.group__latest-message
            hogehoge
  .chat-main
    .main-header
      .current-group{data: { group_id: ""}}
        %h2.current-group__name
          hoge
        %ul.member-list
          Member：
          %li1.member-list__member
            kkk
          %li.member-list__member
            hogehoge
          %li.member-list__member
            hoge
      = link_to root_path do
        .main-header__edit-btn
          Edit
    .messages
      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge

      .message{data: { message_id: ""}}
        .upper-info
          %p.upper-info__user hoge
          %p.upper-info__date 2019/04/17(Wed) 15:59:13
        %p.message__text hogehoge


    .bottom-form
      %form.new-message{id: "",enctype: "", action: "", enctype: "", accept: {charset: ""}, method: ""}
        .input-box
          %input#message_content.input-box__text{name: "", placeholder: "", type: ""}
          %label.image-label{for: ""}
            %i.fa.fa-image
            %input#message_image.image-label__input{name: "", type: ""}
        %input.new-message__submit-btn{name: "commit", type: "submit", value: "Send"}
        
